name: Backend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  # 빌드, 테스트, 푸시를 실행
  build-and-push:
    runs-on: ubuntu-latest

    steps :
      # 1. 소스코드 체크아웃
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. JDK 세팅
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # 3. gradle caching (빌드 시간 줄이기)
      - name: Gradle Caching
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # 4. gradle 실행 권한 주기
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 5. test 진행
      - name: Test with Gradle
        run: ./gradlew test -i

      # 6. test코드 제외하고 jar build
      - name: Build JAR
        run: ./gradlew clean bootJar -x test

      # 7. Docker hub 로그인
      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # 8. Docker 이미지 생성 (Dockerfile에서는 jar만 COPY)
      - name: Build Docker image
        run: |
          docker build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/backend:latest .

      # 9. Docker 이미지 푸시
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest

  # 실제로 배포
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        if: contains(github.ref, 'main')
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/${{ secrets.SERVER_USER }}/ktb3-yujin-cloud-community-be
            git pull origin main
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/backend:latest
            sudo docker compose --env-file .env.prod down
            sudo docker compose --env-file .env.prod up -d
      
